@media (max-width: 900px) {
  .row {
    margin-bottom: 0;
  }
  .row.projects {
    margin-bottom: 2em;
  }

  .col-sm-6 p {
    text-align: left;
    font-size: 1em;
  }
  .col-sm-6 {
    text-align: center;
    margin-top: 1em;
  }
  .col.skills-group {
    margin-bottom: 0;
  }

  .navbar-brand img {
    max-width: 3.5em;
  }

  .introduction p {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  .main-container {
    padding: 2vw;
    max-width: 100vw;
  }
  .navbar-toggler {
    color: transparent !important;
    border: none;
  }
  h1 {
    font-size: 2.5em;
  }

  h2 {
    margin: 1em 0;
  }

  hr {
    margin: 1.5em auto;
    max-width: 20vw;
  }

  .container h2 {
    text-align: center;
  }

  p {
    font-size: 0.75em;
  }

  ul {
    margin-bottom: 0;
  }
  .title {
    text-align: center;
  }

  .btn {
    font-size: 1.2em;
    padding: 1em;
    margin-right: 0.5em;
    line-height: 1em;
  }
  .skills-group {
    font-size: 1em;
  }

  .about-section img {
    max-height: 20em;
    display: block;
    margin: 0 auto;
    margin-top: 2em;
  }
  .about-section h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .about-section-content p {
    text-align: left;
    padding: 0 1.5em;
    font-size: 1em;
  }
  .about-section.container {
    margin-bottom: 1em;
  }
  .introduction h1 {
    margin: 0;
  }
  li {
    margin-bottom: 1em;
  }
  .work {
    text-align: left;
    margin: 1.5em;
    font-size: 1em;
  }
  .work h4 {
    text-align: center;
    font-size: 1.5em;
  }

  .work p {
    font-size: 1.5em;
    text-align: center;
  }
  .work h4,
  .work p {
    margin: 1em 0;
  }
  #experience {
    text-align: center;
  }

  footer svg.lucide {
    color: var(--icons-colour);
    margin-top: 5em;
    margin-left: 1em;
    width: 32px;
    height: 32px;
  }

  .introduction-contact {
    margin: 1em;
    font-size: 1em;
  }

  #scroll-top {
    bottom: 3em;
    right: 6px;
    text-align: center;
  }

  #dark-mode-toggle {
    left: 23%;
  }
}

@media (min-width: 901px) and (max-width: 1440px) {
  .about-section-content {
    margin-left: 3em;
  }
}
