:root {
  --primary-color: #fde2e4;
  --secondary-color: #bee1e6;
  --third-color: #ffd8db;
  --backround-color: #dfe7fd;
  --background-project: #f6f4f6;
  --icons-colour: #383532;

  --body-font: "Poppins", sans-serif;
  --headers-font: "Yeseva One";
}

body {
  font-family: var(--body-font);
}
h1 {
  font-family: var(--headers-font);
  font-size: 56px;
  font-weight: bold;
  color: var(--icons-colour);
}
h2 {
  font-size: 32px;
}

.title {
  text-align: center;
  margin: 48px 0;
}
.container h2 {
  text-align: left;
}

p {
  font-weight: normal;
  line-height: 1.8;
}
.container {
  max-width: 1152px;
}

.about-section h1 {
  position: relative;
  top: -16px;
  margin-bottom: -8px;
  color: var(--icons-colour);
}

.navbar {
  font-family: var(--body-font);
}

.navbar-brand {
  max-width: 64px;
  padding: 0;
  margin: 0;
}

.nav-link {
  color: black !important;
  white-space: nowrap;
  padding-top: 8px;
  margin: 0 8px;
}

.navbar-toggler {
  border: none;
}

.introduction,
.introduction-contact {
  background-image: url("/images/tile.png");
  background-size: 128px;
  /*background-color: var(--backround-color);*/
  text-align: center;
  padding: 32px 0;
}
.introduction p {
  font-size: 36px;
  margin: 0;
}
.introduction h2 {
  font-size: 24px;
  line-height: 2;
}

.introduction-contact * {
  margin: 16px;
}
.introduction-contact a {
  font-size: 32px;
}
.contact-me-link {
  font-size: 24px;
  text-decoration: none;
  color: black;
}
.contact-me-link:hover {
  color: var(--icons-colour);
}

.country {
  font-family: var(--body-font);
}
.skills {
  text-align: center;
}
.skills i {
  font-size: 40px;
  color: var(--icons-colour);
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 24px;
  font-family: var(--body-font);
}
.about-section {
  padding: 64px 16px;
}
.about-section-content {
  margin: 0 30px;
}

.btn,
footer .fab,
.contact-me-link {
  transition: all 250ms ease-in-out;
}

.btn-branding {
  background-color: var(--primary-color);
  border-radius: 6px;
  font-family: var(--body-font);
  font-size: 18px;
  line-height: 30px;
  padding: 15px 30px;
}
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}
.btn-branding:hover {
  background-color: var(--third-color);
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.technologies {
  font-size: 40px;
  color: var(--icons-colour);
}
.btn-launch {
  background-color: var(--primary-color);
  border-radius: 6px;
  font-family: var(--body-font);
  font-size: 18px;
  line-height: 30px;
  padding: 16px 20px;
  margin-right: 12px;
}
.btn-launch:hover {
  background-color: var(--third-color);
}
.introduction-contact .fas {
  font-size: 32px;
}

#scroll-top {
  display: none;
  position: fixed;
  bottom: 32px;
  right: 32px;
  font-size: 24px;
  width: 64px;
  padding: 16px;
}

footer .social-links a {
  color: var(--icons-colour);
  margin: 64px 20px 32px 20px;
  font-size: 40px;
}
footer .social-links a:hover {
  color: var(--third-color);
}

@media (max-width: 900px) {
  body {
    text-align: center;
  }

  h2 {
    font-size: 30px;
  }

  btn btn-branding {
    padding: 16px 24px;
  }

  h1,
  .about-section h1 {
    font-size: 40px;
  }

  .about-section {
    text-align: center;
    padding-top: 0;
  }
  .about-section img {
    margin-bottom: 32px;
  }
  .about-section-content p,
  .col-sm-6 p {
    text-align: left;
  }
  .introduction p {
    font-size: 24px;
  }

  .mb-3 {
    margin-top: 20px;
  }
  .introduction h2 {
    margin: 0 48px;
  }

  .col-sm-6 h2,
  p {
    text-align: center;
  }
  .col-sm-6 p {
    margin: 8px;
  }
  .btn.btn-launch,
  .technologies {
    margin: 0 auto;
  }
  .technologies {
    margin-top: 16px;
    font-size: 40px;
  }
  .title {
    margin: 32px;
  }

  .introduction-contact a {
    font-size: 24px;
  }
  .skills {
    padding: 0 48px;
  }
  .skills i {
    font-size: 40px;
  }
  .skills p {
    font-size: smaller;
  }
  .title {
    margin: 40px;
  }
  #scroll-top {
    bottom: 16px;
    right: 16px;
  }

  footer .social-links a {
    color: var(--icons-colour);
    margin: 10px;
    font-size: 32px;
  }
}
