:root {
  --primary-color: #e7e8f5;
  --secondary-color: #ffded5;
  --body-font: "Alice", serif;
  --headers-font: "Poppins", sans-serif;
}

body {
  font-family: var(--body-font);
}

.navbar {
  font-family: var(--headers-font);
  padding: 16px 0;
}
.nav-link {
  color: black !important;
}

.navbar-toggler {
  border: none;
}
.navbar-nav {
  padding: 0 40px;
}

h1,
h2,
h3 {
  font-family: var(--headers-font);
}

h1 {
  font-size: 64px;
  font-weight: bold;
}
.contact-me h1 {
  margin: 84px 0;
}
.contact-me-email {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}

p {
  font-weight: normal;
  line-height: 1.5;
}

.introduction {
  background-color: var(--primary-color);
  text-align: center;
  padding: 80px 20px;
}
.introduction p {
  font-size: 36px;
  margin: 0;
}
.introduction h2 {
  font-size: 24px;
  line-height: 2;
}
.country {
  font-family: var(--body-font);
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 24px;
  font-family: var(--body-font);
}
.about-section {
  padding: 160px 20px;
}
.about-section-content {
  margin: 0 30px;
}
.btn-branding {
  background-color: var(--secondary-color);
  border-radius: 6px;
  font-family: var(--headers-font);
  font-size: 18px;
  line-height: 30px;
  padding: 15px 30px;
}
.icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
.technologies {
  font-size: 30px;
}
.btn-launch {
  background-color: var(--primary-color);
  border-radius: 6px;
  font-family: var(--headers-font);
  font-size: 18px;
  line-height: 30px;
  padding: 16px 20px;
}
footer {
  margin: 60px 0;
}
footer .social-links a {
  color: black;
  margin: 0 20px;
  padding: 10px 30px;
  font-size: 32px;
}

@media (max-width: 900px) {
  .about-section {
    text-align: center;
  }
}
